.about-section
          .container
            .about-section__content
              h3.about-section__head О компании
              .info
                ul.info__list
                  - 
                    var infos= [ 
                      {
                          name: 'mission',
                          content: 'Компания "Новонлайн" - молодая инновационная IT - компания разрабатывающая собтвенные программные решения',
                          type: 'h3'
                      },{
                          name: 'weaknes',
                          content: 'Задача компании - создании высокотехнологичной инфраструктуры для различных областей бизнеса.',
                          content1: 'Цель компании - занять лидирующие позиции на рынке',
                          content2: 'Миссия компании - технологичная незавиимость и процветание России',
                          type: 'ul'
                      },{
                          name: 'law',
                          content: 'Наши продукты полностью соответствуют требованиям 152 ФЗ',
                          type: 'p'
                      }
                    ]
                  each info in infos
                    li.info__item
                      positions
                        ul.positions__list
                          li(
                            class=`info__item-${info.name}`
                            ).info__item #{info.content}                    
                          li(
                            class=`info__item-${info.name}`
                          ).info__item #{info.content1}
                          li(
                            class=`info__item-${info.name}`
                          ).info__item #{info.content2}