.management-section
  .container
    .management-section__content
      h3.management-section__head Всё необходимое есть в личном кабинете
      .desc
        ul.desc__list
          - 
            var descs= [ 
              {
                  name: 'spec',
                  content: 'Novonline - специализируется на web разработке пользовательских программных решений, управляющих большими объёмами данных, для быстрого, простого и удобного управления пользователями.',
                  type: 'h3'
              },{
                  name: 'functions',
                  content: 'Система управления включает в себя визуальный планировщик с полным набором инструментов необходимых для бесперебойной и удобной оперативной деятельности компании.',
                  content1: 'В два клика можно создать бронирование, открыть/закрыть продажу, либо создать и распечатать необходимые документы.',
                  content2: 'В системе все действия логируются, для возможности отслеживания изменения',
                  content3: 'Наша система <strong>Equipmanager</strong> подразумевает интеграцию со сторонними продуктами, например, возмость подключить бухгалтерию для выгрузки счетов, GPS-трекер для мониторинга транспорта из одной программы.',
                  content4: 'Вся Ваша информация о бронированиях и клиентах, хранится в зашифрованном виде на дублирующих серверах на территории Российской Федерации',
                  type: 'ul'
              },{
                  name: 'kit',
                  content: 'Под рукой необходимый набор инструментов необходимых для бесперебойной и удобной работы Ваш верный помошник в ежедневной работе.',
                  type: 'p'
              }
            ]
          each desc in descs
            li.desc__item
              positions
                ul.positions__list
                  li(
                    class=`desc__item-${desc.name}`
                    ).desc__item #{desc.content}                    
                  li(
                    class=`desc__item-${desc.name}`
                  ).desc__item #{desc.content1}
                  li(
                    class=`desc__item-${desc.name}`
                  ).desc__item #{desc.content2}
                  li(
                    class=`desc__item-${desc.name}`
                  ).desc__item #{desc.content3}
                  li(
                    class=`desc__item-${desc.name}`
                  ).desc__item #{desc.content4}
      .booking__buttons
              a(
                href="./index.html"
              ).btn.btn--booking на главную
              a(
                href="./feedback.html"
              ).btn попробовать