include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Equipmanager - online booking engine, and movable managment system
    link(href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet")
  body
    .wrapper
      .maincontent             
          section.hero.hero--about           
            header.header      
                .header__up-row
                  .container.hero__container-row
                    h2.header__slogan Лучшие решения для отрасли аренды техники!
                    .logo
                      +image('content/logo.jpeg', 'logo-pic')
                .header__middle-row
                  .container
                    button.btn.btn--enter Войти
                .header__down-row
                  .container 
                    nav.nav
                      ul.nav__list
                        - 
                          var items= [ 
                            {
                                name: 'о компании',
                                link: './about.html'
                            },{
                                name: 'вакансии',
                                link: 'https://second'
                            },{
                                name: 'контакты',
                                link: './feedback.html'
                            }
                          ]
                        each item in items                       
                          li.nav__item
                            a(href=`${item.link}`).nav__link #{item.name}
            .container
              .about
                .about__module
                  h3.about__module-head Модуль онлайн бронирования Novonline - мощный инструмент по увеличению продаж
                  p.about__module-text 
                    |Как вы знаете, интернет играет важную роль в продажах. Вы должны давать гостям возможность быстро и легко совершить бронирование на сайте вашей компании, в социальных сетях. Клиенты склонны изучить цены и спецпредложения до контакта с компанией. Отсутствие актуальной информации на сайте может привести к потере клиента. Модуль Novonline очень эффективен для прямых продаж. Он предоставляет вашим клиентам понятный и простой интерфейс, который адаптируется под любое мобильное устройство. Бронировать технику теперь одно удовольствие! Благодаря статистики вы всегда сможете узнать уровень конверсии вашего модуля, т.е. процент превращения посетителей модуля в ваших клиентов.
                .about__clients
                  h3.about__clients-head Вашим клиентам понравится
                  p.about__clients-text 
                    |Novonline предлагает очень удобный инструмент для ваших клиентов. Он на 100% безопасен и защищен. Позволяет получать негарантированные или предоплаченные бронирования. Благодаря наличию модуля онлайн бронирования Novonline Ваши агенты, постоянные корпоративные клиенты и физические лица получают возможность бронировать Вас онлайн. 
                    br
                    br
                    |А система быстрой регистрации позволяет автоматизировать работу с клиентами.
                .about__buttons
                  a(
                    href="./index.html"
                  ).btn.btn--about на главную
                  a(
                    href="./feedback.html"
                  ).btn попробовать
              //- .complect
              //-   h3.complect__head
              //-   .complect__row
              //-     h4.complect__row-head Модуль онлайн-бронирования
              //-     ul.complect__row-list
              //-       - 
              //-         var items= [ 
              //-           {
              //-               name: 'о компании',
              //-               link: './feedback.html'
              //-           },{
              //-               name: 'вакансии',
              //-               link: 'https://second'
              //-           },{
              //-               name: 'контакты',
              //-               link: 'https://third'
              //-           }
              //-         ]
              //-       each item in items
              //-         li.complect__row-item
              //-   .about__content-row
          footer.footer
            .container
              ul.footer__columns
                - 
                  var items= [ 
                    {
                        name: 'Novonline - rental software company',
                        link: '#'
                    },{
                        name: 'Санкт-Петербург',
                        link: '#'
                    },{
                        name: 'Cвязаться с нами',
                        link: 'https://third'
                    }
                  ]
                each item in items                       
                  li.footer__column
                    a(href=`${item.link}`).footer__column-content #{item.name}  