include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Equipmanager - online booking engine, and movable managment system
    link(href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet")
  body
    .wrapper
      .maincontent
        include ./sections/header.pug
        section.feedback          
          .container.container-feedback
            h2.section-head Записаться на тест или задайте нам вопрос
            form(                
                method="post"
                action="robot.php"
              ).form
                ul.form__rows
                  - 
                    var rows= [ 
                      {
                          name: 'E-mail',
                          type: 'input',
                          placeholder: 'Ваш E-mail',
                          element: 'email'
                      },{
                          name: 'Имя',
                          type: 'input',
                          placeholder: 'Имя',
                          element: 'name'                     
                      },{
                          name: 'Телефон',
                          type: 'input',
                          placeholder: 'Номер телефона',
                          element: 'tel'                     
                      },{
                          name: 'Текст сообщения',
                          type: 'textarea',
                          placeholder: 'Введите текст...',
                          element: 'services'
                      }
                    ]
                  each row in rows                   
                    li.form__row
                      label.form__row-label
                        h4.form__row-head #{row.name}
                        #{row.type}(
                          placeholder=`${row.placeholder}`
                          name=`${row.element}`
                          class=`form__row-${row.type}`
                          )
                button.btn.btn--form
                  h3.btn__text Отправить заявку
        include ./sections/footer.pug