include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Equipmanager - online booking engine, and movable managment system
    link(href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet")
  body
    .wrapper
      .maincontent
             
          section.hero            
            header.header      
                .header__up-row
                  .container.hero__container-row
                    h2.header__slogan Лучшие решения для отрасли аренды техники!
                    .logo
                      +image('content/logo.jpeg', 'logo-pic')
                .header__middle-row
                  .container
                    button.btn.btn--enter Войти
                .header__down-row
                  .container 
                    nav.nav
                      ul.nav__list
                        - 
                          var items= [ 
                            {
                                name: 'о компании',
                                link: 'https://first'
                            },{
                                name: 'вакансии',
                                link: 'https://second'
                            },{
                                name: 'контакты',
                                link: 'https://third'
                            }
                          ]
                        each item in items                       
                          li.nav__item
                            a(href=`${item.link}`).nav__link #{item.name}
            .container
              .hero__content
                p.hero__content-text Equipmanager - это административно-программный комплекс, разработанный для увеличения онлайн продаж аренды строительной техники и оборудования. Инновационное онлайн бронирование увеличивает шанс продажи оборудования, а система управления позволяет управлять техникой в любой момент времени. 
          section.offer
            .container
              .offer__columns
                .offer__column-left
                  h2.item-card__head Онлайн бронирование
                  .item-card         
                    .item-card__mark
                      +image('content/hit_sales.png', 'item-card__mark-pic')           
                    .item-card__image
                      +image('content/2nd_monitor.png', 'item-card__image-icon')
                    .item-card__description
                      ul.item-card__description-list
                        - 
                          var cards= [ 
                            {
                                name: 'Быстрая регистрация',
                                link: '#'
                            },{
                                name: 'Увеличивает конверсию и продажи с сайта',
                                link: '#'
                            },{
                                name: 'Гибкое управление тарифами и скидками',
                                link: '#'
                            },{
                                name: 'Дополнительные услуги и оборудование',
                                link: '#'
                            },{
                                name: 'Гарантированное и негарантированное бронирование',
                                link: '#'
                            },{
                                name: 'Вам приходят уже готовые бронирования',
                                link: '#'
                            },{
                                name: 'Безопасное соединение ',
                                link: '#'
                            },{
                                name: 'Работает на всех устройствах',
                                link: '#'
                            }
                          ]
                        each card in cards                       
                              li.item-card__description-item #{card.name}
                    .item-card__buttons
                      button.btn узнать больше
                      button.btn попробовать бесплатно
                .offer__column-right
                  h2.item-card__head Система управления
                  .item-card                    
                    .item-card__image
                      +image('content/1st_monitor.png', 'item-card__image-icon')
                    .item-card__description
                      ul.item-card__description-list
                        - 
                          var cards= [ 
                            {
                                name: 'Управление техникой и водителем',
                                link: '#'
                            },{
                                name: 'Управление дополнительным оборудованием и доставкой',
                                link: '#'
                            },{
                                name: 'Гибкое управление тарифами и скидками',
                                link: '#'
                            },{
                                name: 'Управление клиентами, сотрудниками, агентами',
                                link: '#'
                            },{
                                name: 'Управление документами',
                                link: '#'
                            },{
                                name: 'Системный журнал (история всех видов деятельности)',
                                link: '#'
                            }
                          ]
                        each card in cards                       
                              li.item-card__description-item #{card.name}                          
                    .item-card__buttons
                      button.btn узнать больше
                      button.btn попробовать бесплатно
          section.banner
            .container
              p.banner__text С нами работают более 30 компаний!
          footer.footer
            .container
              ul.footer__columns
                - 
                  var items= [ 
                    {
                        name: 'Novonline - rental software company',
                        link: '#'
                    },{
                        name: 'Санкт-Петербург',
                        link: '#'
                    },{
                        name: 'Cвязаться с нами',
                        link: 'https://third'
                    }
                  ]
                each item in items                       
                  li.footer__column
                    a(href=`${item.link}`).footer__column-content #{item.name}          